.nav {
      background-color: bisque;
}

.nav ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
}

.nav :global(.active) {
      background-color: green;
}